# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=

# Backend Python Environment Variables
PORT=8000
ENV=development
MAUSAM_DB_PATH=./app/mausam.db
JWT_SECRET_KEY=mymausam_secret_key_2026_production
IMD_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
